/* Estilos generales */
html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    height: 100%;
    background-color: #e6e8a3;
}

/* Barra lateral */
.sidebar {
    width: 150px;
    background-color: #f4b400;
    color: white;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.nav-logo {
    width: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

nav ul li.active a {
    background-color: black;
}

.logout {
    margin-top: auto;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

/* Contenido principal */
main {
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

/* Sección de ventas */
.ventas-container {
    display: flex;
    flex-grow: 1;
    gap: 20px;
}

.productos-lista {
    flex-grow: 1;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.producto-item {
    background-color: #f8f8d8;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.carrito {
    width: 400px;
    background-color: #f8f8d8;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    border-radius: 10px;
}

.carrito h2 {
    flex-grow: 1;
}

#carrito-lista {
    flex-grow: 2;
}

.resumen {
    flex-grow: 1;
}

#checkout {
    background-color: #f4b400;
    border: none;
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
